.navbar{
    height: 15vh;
    width: 100%;
    padding: 1rem 5rem;
    border-bottom: .2rem solid $color-black;
    @include flexBetween;
    
    @include respond(tab-port){
        height: 20vh;
    }
    @include respond(phone){
        padding: 2rem 2rem;
        height: 12vh;
    }
    &__logobox{
        width: 15%;
        height: auto;
        @include respond(tab-land){
            width: 8%;
        }
        @include respond(tab-port){
            width: 8.5%;
        }
        @include respond(phone){
            width: 12%;
        }
    }
    &__logo{
        @include imageRes;
    }
    &__contact--p{
        display: inline-block;
        &:last-child{
            margin-left: 4rem;
        }
    }
    &__contactbox{
        padding-top: 2.5rem;
    }
    &__icon{
        color: $color-pink;
    }
}