.btn{
    text-decoration: none;
    display: inline-block;
    box-shadow: .3rem .8rem 1.4rem -.8rem rgba($color-gray-dark, .7);
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: .9rem;
    font-weight: 700;
    color: $color-white;
    cursor: pointer;
    transition: all .2s;
    &:not(:last-child){
        margin-right: 1.5rem;
    }
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: .4rem 1rem 1.4rem -.8rem rgba($color-gray-dark, .7);
    }
    &:active,
    &:focus{
        outline: none;
        box-shadow: .2rem .5rem 1.4rem -.8rem rgba($color-gray-dark, .7);
        transform: translateY(0);
    }
}
.black--btn{
    background-color: $color-black;
}

.pink--btn{
    background-color: $color-pink;
}