body{
    font-family: 'Roboto Condensed', sans-serif;
    color: $color-black;
    background-color: $color-white;
}

.primary__heading{
    font-size: 4rem;
}
.primary__paragraph{
    font-size: 1.5rem;
    width: 60%;
    margin: 1.5rem auto;
}
.navbar__contact--p{
    font-size: 1.5rem;
    cursor: pointer;
}

